*{
  padding: 0px;
  margin: 0px;
  font-family:monospace;
}

body{
  height: 100em;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-section{
  background-image: url("./assets/home-page.jpg");
  width: 100%;
  height: 50em;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-section > h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 1rem;
  letter-spacing: 0.5em;
}

.top-section > p{
  letter-spacing: 0.1em;
}

.color-white{
  color: white;
}

.btn{
  width: 10em;
  background-color: rgba(255, 255, 0, 0.9);
  padding: 0.6em 2em;
  margin-top: 3em;
  border: none;
}

.mountain-section{
  height: 40%;
}

.mountain-section > img{
  margin-top: 7em;
}

.mountain-section > p{
  margin: 6em 0px;
  width: 35%;
  line-height: 2em;
  text-align: center;
}

.our-section{
  height: 70%;
}

.bg-gray{
  background-color: rgb(222, 222, 222);
}

.our-header{
  height: 25%;
  width: 100%;
  display: flex;
  gap: 3em;
  text-align: center;
}

.our-header > h2{
  letter-spacing: 1em;
}

.our-header > p{
  line-height: 2em;
  width: 50%;
  margin-bottom: 5em;
}

.services-container{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.service-container{
  border: none;
  height: 40em;
  width: 15%;
  justify-content: space-between;
  margin-bottom: 3em;
}

.bg-white{
  background-color: white;
}

.service{
  box-shadow: 0px 0px 5px 0px gray;
  height: 65%;
  display: flex;
  justify-content: space-evenly;
}

.service > h2{
  inline-size: min-content;
  text-align: center;
  font-weight: lighter;
}

.service > p{
  text-align: center;
  width: 85%;
}

.knowledge-container{
  box-shadow: 0px 0px 5px 0px gray;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.knowledge-container > span{
  width: 90%;
  margin-left: 1em;
}

.PS .know{
  margin-left: 1em;
  width: 70%;
  height: 0.5em;
  background: yellow;
}

.PS .not-know{
  margin-left: 100%;
  width: 10%;
  height: 0.5em;
  background: rgb(219, 219, 219);
}

.bg-black{
  background: black;
}

.statistics-section{
  height: 15%;
  width: 100%;
}

.statistics-container{
  width: 65%;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1em;
  justify-content: space-evenly;
}

.statistics-container > div {
  width: 55%;
  padding: 0.5em 4em;
  font-size:medium;
}

.sign-section{
  flex-direction: row;
  margin-inline: auto;
  width: 70%;
  justify-content: space-evenly;
}

.sign-section > div{
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.line{
  height: 1px;
  width: 100%;
  margin: 2em;
  background: black;
}

.words-between-lines{
  word-spacing: 15em;
  font-size: large;
}

.images{
  flex-direction: row;
  margin-top: 3em;
}

.images > img{
  width: 16%;
}

.button-section > button {
  background-color: rgba(255, 255, 0, 0.9);
  padding: 1em 2em;
  border: none;
  margin: 4em 0px;
}

.video-button-section{
  background-image: url("./assets/dark-image.jpg");
  width: 100%;
  height: 20em;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-button-section > button{
  background-color: rgba(255, 255, 0, 0.9);
  border: none;
  padding: 7em;
  font-size:x-large;
  letter-spacing: 3px;
  padding: 1em 3em;
}

.people{
  flex-direction: row;
  width: 70%;
  margin-inline: auto;
  gap: 1.5em;
}

.person{
  width: 80%;
  box-shadow: 0px 0px 5px 0px gray;
}

.person > img{
  width: 100%;
}

.person > h4{
  background-color: rgba(255, 255, 0, 0.9);
  width: 100%;
  padding: 1.5em 0px;
}

.person > p{
  width: 90%;
  text-align: center;
  padding: 2em;
}

.yellow-line{
  margin-top: 30em;
  width: 100%;
  height: 15em;
  background-color: rgb(240, 240, 0);
}

.last-section{
  display: flex;
  align-items: center;
  width: 70%;
  gap: 2em;
}

.left-side{
  flex-direction: column;
  gap: 3em;
  width: 50%;
  height: auto;
  margin-bottom: 15em;
}

.bj-black{
  background-color: black;
}

p.bj-black{
  color: white;
  line-height: 2em;
  padding: 5em;
}

.sentence{
  width: 65%;
  text-align: center;
  margin-inline: auto;
  line-height: 2em;
  margin-bottom: 1em;
}

.bottom-container > h4 {
  margin-inline: auto;
  width: 50%;
}

.right-side{
  width: 50%;
}

.top-container{
  margin-bottom: 11em;
}

.top-container > h4 {
  width: 30%;
  float: right;
  margin-left: auto;
}

.right-side > img{
  width: 100%;
}

footer{
  height: 25em;
  margin-top: 20em;
}

.footer-section{
  width: 60%;
  flex-direction: row;
  gap: 2em;
}

.left-container{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

.left-container > p{
  width: 95%;
  line-height: 2em;
}

.left-container > img{
  width: fit-content;
  height: fit-content;
}

.footer-column > h3, a{
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

.links{
  margin-top: 3em;
  height: 90%;
  width: 20%;
}

.about-us{
  width: 20%;
  margin-top: 3em;
  height: 90%;
}

.contct-us{
  /* border: 5px solid blue; */
  justify-content: space-between;
  flex-direction: column;
  margin-top: 3em;
  height: 90%;
}

.contct-us > span {
  width: 100%;
  height: 30%;
  line-height: 1.5em;
  /* border: 1px solid red; */
}

.contct-us > button{
  background-color: yellow;
  border-radius: 40px;
  width: 100%;
  padding: 1em 2em;
  /* border: 1px solid green; */
  margin-top: 3em;
}

.icons{
  display: flex;
  align-items: center;
  /* border: 1px solid pink; */
  height: 20%;
  width: 100%;
}

.icons > img{
  width: 10%;
  height: 80%;
  /* border: 1px solid fuchsia; */
}